@use "../base/variables" as *;

.book {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  &__content {
  }

  &__title {
    margin-bottom: 20px;
  }

  &__items {
  }

  &__item {
    h5 {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      text-align: justify;
      color: $dark-blue;
      margin-bottom: 15px;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      text-align: justify;
      color: #000;
      margin-bottom: 15px;
    }
    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: $light-blue;
    }
  }

  &__text {
  }

  &__btn {
    p {
      color: $light-blue;
      margin-bottom: 0;
    }
  }
}

@media (max-width: $breakpoint-xl) {
  .book {
    &__img {
      margin-left: 10px;
      width: auto;
      max-width: 300px;
    }
  }
}
@media (max-width: $breakpoint-lg) {
  .book {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    &__img {
      margin-left: 0px;
      margin-bottom: 30px;
      width: auto;
      max-width: 300px;
    }
  }
}
