<header class="header">
  <div class="header__top">
    <div class="container">
      <h1 dir="rtl">יוסף אלרון, שופט בית המשפט העליון (בדימוס)</h1>
    </div>
  </div>
  <div class="header__body">
    <div class="container">
      <div class="header__body-wrapper">
        <nav>
          <ul>
            <li class="current-menu-item">
              <a href="index.html">דף בית</a>
            </li>
            <li>
              <a href="legal-practice.html">עשייה משפטית</a>
            </li>
            <li>
              <a href="background.html">רקע אישי</a>
            </li>
            <li>
              <a href="landmarks.html">ציוני דרך</a>
            </li>
            <li>
              <a href="judgments.html">פסקי דין</a>
            </li>
            <li>
              <a href="articles.html">מאמרים</a>
            </li>
            <li>
              <a href="lectures.html">הרצאות ונאומים</a>
            </li>
            <li>
              <a href="news.html">כתבות</a>
            </li>
            <li>
              <a href="contacts.html">יצירת קשר</a>
            </li>
          </ul>
        </nav>
        <div class="header__search">
          <button class="header__search-btn">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.622 11.622L15 15M13.4444 7.22222C13.4444 3.78578 10.6587 1 7.22222 1C3.78578 1 1 3.78578 1 7.22222C1 10.6587 3.78578 13.4444 7.22222 13.4444C10.6587 13.4444 13.4444 10.6587 13.4444 7.22222Z"
                stroke="#032169"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>

          <input type="search" autocomplete="off" placeholder="חיפוש..." />
        </div>
      </div>
    </div>
  </div>
</header>
