<div class="legal-practice-post" id="post-leg-prac-@@id">
  <h3 class="legal-practice-post__title">קריירה שיפוטית</h3>
  <div class="legal-practice-post__text legal-practice-post__text--excert">
    <p>
      במרץ 1994 התמנה אלרון לשופט בבית משפט השלום בחיפה. ביולי 2003 מונה לשופט
      בבית המשפט המחוזי בחיפה. במרץ 2012 מונה לסגן נשיא בית המשפט המחוזי בחיפה,
      והיה אחראי, בין היתר, על המחלקה הפלילית בבית משפט זה. ביולי 2013 החל לכהן
      כנשיא בית המשפט המחוזי בחיפה.
    </p>
    <p>
      במקביל לכך, מאוגוסט 2014 עד מרץ 2018 שימש כיו"ר הוועדה הבוחנת של לשכת
      עורכי הדין, הממונה על שאלון בחינת ההסמכה. בתפקידו זה, יזם את הכנסתה של
      שאלה פתוחה אשר תבחן את כישורי הכתיבה של הנבחנים, וזאת לצד אימוץ שינויים
      מבניים משמעותיים במבנה הבחינה, ובתוכם הוספת פרק הדין המהותי. כמו כן,
      נתקבלה המלצתו בפני ועדת חשין להקמת מרכז לימודי לשם הסמכה לעריכת דין.
    </p>
    <p>
      שנת 1995 עבר בשירות המילואים ליחידת בתי הדין הצבאיים, וכיהן במסגרת זו
      כשופט בבית הדין הצבאי במחוז הצפון. משנת 2010 החל לכהן כשופט צבאי במילואים
      בבית הדין הצבאי לערעורים בדרגת סא"ל.
    </p>
  </div>
  <div class="legal-practice-post__text show-full-text">
    <p>text more</p>
    <p>text more text more text more text more</p>
  </div>
  <button class="legal-practice-post__btn button-show-more">
    <p>קרא עוד</p>
    <svg
      width="12"
      height="10"
      viewBox="0 0 12 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6.85749 8.57084C6.46909 9.21818 5.53091 9.21818 5.14251 8.57084L0.908699 1.5145C0.508784 0.847972 0.988896 -8.94702e-09 1.76619 5.90063e-08L10.2338 7.99269e-07C11.0111 8.67222e-07 11.4912 0.847972 11.0913 1.5145L6.85749 8.57084Z"
        fill="#0E7BCD"
      />
    </svg>
  </button>
</div>
