<div class="search-result">
  <div class="search-result__location">@@include('breadcrumbs.html')</div>
  <p class="search-result__text">
    לורם איפסום דולור סיט אמט, <span>עברות המתה</span> אדיפיסינג אלית. סת
    אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור
    וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסיטידום...
  </p>
  <a href="#" class="search-result__link button-show-more">
    <p dir="rtl">לצפייה</p>
    <svg
      width="10"
      height="16"
      viewBox="0 0 10 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M5 14L1.59055 10.1644C1.25376 9.78548 1.25376 9.21452 1.59055 8.83564L5 5"
        stroke="#0E7BCD"
        stroke-width="1.5"
        stroke-miterlimit="3.8637"
        stroke-linecap="round"
      />
    </svg>
  </a>
</div>
