<div class="sidebar-judgments">
  <p class="sidebar-judgments__title">פסקי דין נבחרים</p>
  <ul class="sidebar-judgments__list">
    <li>
      <a href="#">
        רומן שגל נגד מדינת ישראל, ינואר 2025, ערעור על גזר דינו של בית המשפט
        המחוזי בחיפה
      </a>
    </li>
    <li>
      <a href="#">
        דן אוסקר למפל נגד היועץ המשפטי לממשלה, אפריל 2018, ערעור על פסק דינו של
        בית המשפט המחוזי בירושלים
      </a>
    </li>
    <li>
      <a href="#"
        >רומן שגל נגד מדינת ישראל, ינואר 2025, ערעור על גזר דינו של בית המשפט
        המחוזי בחיפה
      </a>
    </li>
    <li>
      <a href="#"
        >דניס זייצב נגד מדינת ישראל, מאי 2021, בקשת רשות ערעור על פסק דינו של
        בית המשפט המחוזי
      </a>
    </li>
  </ul>
</div>
