<div class="sidebar-judgments">
  <p class="sidebar-judgments__title">פסקי דין נבחרים</p>
  <ul class="sidebar-judgments__list">
    <li class="sidebar-judgments__item-ghost">
      <a href="#"><p>חקירת סיבת המוות</p> </a>
    </li>
    <li class="sidebar-judgments__item-ghost">
      <a href="#"><p>יו"ר הוועדה הבוחנת</p> </a>
    </li>
    <li class="sidebar-judgments__item-fill">
      <a href="#"><p>עברות המתה - מאמר</p> </a>
    </li>
    <li class="sidebar-judgments__item-fill">
      <a href="#"><p>כנסי לשכת עורכי הדין</p> </a>
    </li>
    <li class="sidebar-judgments__item-fill">
      <div class="sidebar-judgments__bonus-item">
        <p class="sidebar-judgments__bonus-item-title">
          שיח זכויות מול שיח ראיות
        </p>
        <p class="sidebar-judgments__bonus-item-subtitle">01.2025</p>
      </div>
      <a href="#"><p>שיח זכויות מול שיח ראיות</p> </a>
    </li>
    <li class="sidebar-judgments__item-fill">
      <a href="#"><p>המשפט הפלילי</p></a>
    </li>
  </ul>
</div>
