<div class="sidebar-legal-practice">
  <h3 class="sidebar-legal-practice__title">עשייה משפטית - רשימת נושאים</h3>
  <div class="sidebar-legal-practice__list">
    <li class="active">
      קריירה שיפוטית
      <a href="#post-leg-prac-1"></a>
    </li>
    <li>
      משפט וחברה
      <a href="#post-leg-prac-2"></a>
    </li>
    <li>
      ביטחון
      <a href="#post-leg-prac-3"></a>
    </li>
    <li>
      הקפדה על זכויות חשודים ונאשמים
      <a href="#post-leg-prac-4"></a>
    </li>
    <li>
      מדיניות ענישה
      <a href="#"></a>
    </li>
    <li>
      הרפורמה בעבירות ההמתה
      <a href="#"></a>
    </li>
    <li>
      דיני הסגרה
      <a href="#"></a>
    </li>
    <li>
      משפט חוקתי
      <a href="#"></a>
    </li>
    <li>
      משפט מינהלי
      <a href="#"></a>
    </li>
    <li>
      משפט אזרחי
      <a href="#"></a>
    </li>
    <li>
      הצעות לתיקוני חקיקה
      <a href="#"></a>
    </li>
    <li>
      בית המשפט המחוזי בחיפה
      <a href="#"></a>
    </li>
    <li>
      פעילות נוספת במערכת המשפט
      <a href="#"></a>
    </li>
    <li>
      רשימת מאמרים
      <a href="#"></a>
    </li>
  </div>
</div>
