<div class="tags">
  <button class="tags__tag active" data-tag-id="0">הצג הכל</button>
  <button class="tags__tag" data-tag-id="2">עברות המתה</button>
  <button class="tags__tag" data-tag-id="3">דיני עונשין</button>
  <button class="tags__tag" data-tag-id="4">סדר דין פלילי</button>
  <button class="tags__tag" data-tag-id="5">דיני ראיות</button>
  <button class="tags__tag" data-tag-id="6">הסגרה</button>
  <button class="tags__tag" data-tag-id="7">משפט ציבורי</button>
  <button class="tags__tag" data-tag-id="8">רווחה ואוכלוסיה חלשה</button>
  <button class="tags__tag" data-tag-id="9">משפט אזרחי</button>
</div>
