<div class="video-modal">
  <div class="container">
    <div class="video-modal__wrapper">
      <div class="video-modal__content">
        <button class="video-modal__btn-close">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11 5L8 8M8 8L5 11M8 8L5 5M8 8L11 11M1 1H15V15H1V1Z"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          סגירה
        </button>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/gtCd-HCo7FQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <p class="video-modal__title">
          הרצאתו של שופט בית המשפט העליון יוסף אלרון, בטקס בוגרי ובוגרות ומוסמכי
          ומוסמכות מחזור 2022 של הפקולטה למשפטים באוניברסיטת חיפה, שהתקיים ביום
          שני, 17.7.2023, בשעה 18:00.
        </p>
      </div>
      <div class="video-modal__left-column">
        <p class="video-modal__left-column-title">הרצאות נוספות</p>
        <div class="video-modal__more-videos">
          <div class="additional-video">
            <img
              src="assets/images/lectures-img.png"
              alt="video"
              class="additional-video__img"
            />
            <p class="additional-video__title">ספטמבר 2019</p>
            <p class="additional-video__subtitle">
              המכללה למנהל – המסלול האקדמי
            </p>
          </div>
          <div class="additional-video">
            <img
              src="assets/images/lectures-img.png"
              alt="video"
              class="additional-video__img"
            />
            <p class="additional-video__title">ספטמבר 2019</p>
            <p class="additional-video__subtitle">
              המכללה למנהל – המסלול האקדמי
            </p>
          </div>
          <div class="additional-video">
            <img
              src="assets/images/lectures-img.png"
              alt="video"
              class="additional-video__img"
            />
            <p class="additional-video__title">ספטמבר 2019</p>
            <p class="additional-video__subtitle">
              המכללה למנהל – המסלול האקדמי
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
