@use "../base/variables" as *;

.layout {
  margin-top: calc(156px + 45px);
  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 33px;
  }
  &__content {
  }
  &__breadcrumbs {
    margin-bottom: 30px;
  }
  &__sidebar {
    width: 300px;
    min-height: 100vh;
    flex-shrink: 0;
    position: relative;
  }
}
