@use "../base/variables" as *;

// home page start
.main-home {
  margin-top: calc(156px + 45px);
  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 33px;
  }

  &__body {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: #000;
    font-stretch: 88%;
    ul {
      list-style-position: outside;
      margin-bottom: 30px;
      padding-right: 6px;
    }
    ul li {
      padding-right: 12px;
      position: relative;
      //   background-color: red;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 4px;
        height: 4px;
        transform: translateY(-50%);
        background-color: #000;
      }
    }
    p {
      margin-bottom: 30px;
    }
    & p + ul {
      margin-top: -30px;
    }
  }
  &__content {
    display: flex;
    gap: 30px;
    align-items: self-start;
  }
  &__title {
    margin-top: -10px;
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    text-align: right;
    color: $dark-blue;
    margin-bottom: 30px;
  }

  &__img {
  }
  &__sidebar {
    width: 300px;
    flex-shrink: 0;
  }
}

// home page end
// legal-practice page start
.legal-practice {
  margin-top: calc(156px + 20px);
  &__wrapper {
    display: flex;
  }

  &__sidebar {
    margin-top: 25px;
    position: relative;
    width: 300px;

    flex-shrink: 0;
  }

  &__body {
    padding-left: 30px;
  }
  &__result-serch {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: #000;
    margin-bottom: 20px;
    span {
      color: $light-blue;
    }
  }
  &__tags {
    margin-bottom: 30px;
  }
  &__body-top {
  }

  &__content {
  }

  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    text-align: right;
    color: $dark-blue;
    margin-bottom: 20px;
  }

  &__posts {
  }
}
// legal-practice page end

//book page start
.book {
  &__content {
  }

  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    text-align: right;
    color: $dark-blue;
    margin-bottom: 20px;
  }

  &__items {
  }

  &__item {
  }

  &__text {
    h5 {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      text-align: right;
      color: $dark-blue;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      text-align: right;
      color: #000;
    }
  }

  &__text--full {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    h5 {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      text-align: right;
      color: $dark-blue;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      text-align: right;
      color: #000;
    }
  }
  &__text--full.active {
    max-height: 100%;
    overflow: visible;
    opacity: 1;
    position: static;
  }
  &__btn {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: $light-blue;
    p {
      margin-bottom: 0;
    }
    svg {
      transition: all 0.3s;
    }
  }
  &__btn.active svg {
    transform: rotate(180deg);
  }
}

//book page end
