@use "../base/variables" as *;

// sidebar featured-topics start
.sidebar-featured-topics {
  width: 300px;
  position: fixed;
  &__title {
    font-family: $font-family;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    color: $dark-blue;
    margin-bottom: 20px;
  }
  ul li {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: justify;
    color: #000;
    // font-stretch: 88%;
  }

  ul li a {
    display: block;
    background: $light-grey;
    border-radius: 10px;
    padding: 15px 30px;
    position: relative;
    transition: all 0.3s;
  }
  ul li a:hover {
    background-color: #e6e6e683;
  }
  // &__book {
  //   a {
  //     height: 166px;
  //   }
  //   img {
  //     position: absolute;
  //     bottom: -46px;
  //     left: 12px;
  //     //   width: 100%;
  //     //   height: 100%;
  //     object-fit: cover;
  //   }
  // }
}
@media (max-width: $breakpoint-lg) {
  .sidebar-featured-topics {
    width: 100%;
    position: static;
    // &__title {
    //   font-family: $font-family;
    //   font-weight: 400;
    //   font-size: 24px;
    //   text-align: justify;
    //   color: $dark-blue;
    //   margin-bottom: 20px;
    // }
    // ul li {
    //   margin-bottom: 15px;
    //   font-weight: 400;
    //   font-size: 20px;
    //   line-height: 100%;
    //   text-align: justify;
    //   color: #000;
    //   // font-stretch: 88%;
    // }

    // ul li a {
    //   display: block;
    //   background: $light-grey;
    //   border-radius: 10px;
    //   padding: 15px 30px;
    //   position: relative;
    //   transition: all 0.3s;
    // }
    // ul li a:hover {
    //   background-color: #e6e6e683;
    // }
  }
}
// sidebar legal-practice start
.sidebar-legal-practice {
  position: fixed;
  width: 300px;
  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    border-radius: 0 20px 20px 0;
    background: $dark-blue;
    width: 44px;
    padding: 9px 10px;
    display: none;
  }
  &__btn-wrapper {
    display: flex;
    gap: 5px;
    height: 12px;
    svg {
      height: 100%;
    }
  }
  &__btn--arrow-l {
    display: none;
  }
  &__btn--arrow-c {
    transition: all 0.3s;
  }
  &__btn--arrow-r {
    display: block;
  }
  &__title {
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    color: $dark-blue;
    margin-bottom: 40px;
    display: none;
  }

  &__list {
    position: relative;
    list-style: none;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 10px;
      transform: translateY(2px);
      width: 1px;
      height: 99%;
      border-radius: 50%;
      background-color: #d9d9d9;
    }
    li {
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      text-align: justify;
      color: #000;
      margin-bottom: 1.7vh;
      position: relative;
      padding-right: 35px;
      cursor: pointer;
      position: relative;
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-40%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #d9d9d9;
        z-index: 1;
        border: 5px solid #d9d9d9;
        transition: all 0.3s;
      }
      &.active {
        &::after {
          border: 5px solid #000;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-lg) {
  .sidebar-legal-practice {
    width: auto;
    left: 0;
    top: 155px;
    background-color: $light-grey;
    padding: 21px 19px 0px 32px;
    transform: translateX(-100%);
    transition: all 0.3s;
    &__btn {
      display: block;
    }
    &__title {
      display: block;
      font-size: 20px;
      margin-bottom: 15px;
    }
    &__list {
      li {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: $breakpoint-md) {
  .sidebar-legal-practice {
    top: 103px;
  }
}
@media (min-width: $breakpoint-md) {
  .sidebar-legal-practice {
    &__list {
      li {
        &:hover::after {
          border: 5px solid #00000090;
        }
      }
    }
  }
}
.sidebar-legal-practice.active {
  transform: translateX(0);
}
.sidebar-legal-practice.active .sidebar-legal-practice__btn--arrow-l {
  display: block;
}
.sidebar-legal-practice.active .sidebar-legal-practice__btn--arrow-r {
  display: none;
}
.sidebar-legal-practice.active .sidebar-legal-practice__btn--arrow-r {
  display: none;
}
.sidebar-legal-practice.active .sidebar-legal-practice__btn--arrow-c {
  transform: rotate(180deg);
}
// sidebar legal-practice end

// sidebar judgments start
.sidebar-judgments {
  margin-top: 20px;
  position: fixed;
  width: 300px;
  &__title {
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    color: $dark-blue;
    margin-bottom: 20px;
  }

  &__list {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: justify;
    color: #000;
    li {
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 10px 0;
    }
    li a {
      transition: all 0.3s;
    }
    li:hover a {
      color: #0000008e;
    }
  }
}
@media (max-width: $breakpoint-lg) {
  .sidebar-judgments {
    position: static;
    margin-top: 0;
  }
}
// @media (min-width: $breakpoint-md) {
//   .sidebar-judgments {
//     &__list {
//       li {
//         &:hover::after {
//           border: 5px solid #00000090;
//         }
//       }
//     }
//   }
// }
// sidebar judgments end
