@use "variables" as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Noto Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

main {
  flex: 1;
}

.padding-section {
  padding: 40px 0;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 160px;
}

.title-section {
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  text-align: justify;
  color: $dark-blue;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  &__tag {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: justify;
    color: $light-blue;
    background: $light-grey;
    border-radius: 10px;
    padding: 5px 7px;
  }
  &__tag.active {
    color: #fff;
    background: $dark-grey;
  }
}

.text-WYSIWYG {
  p {
    margin-bottom: 20px;
  }
  ul {
    list-style-position: outside;
    margin-bottom: 30px;
  }
  ul li {
    padding-right: 12px;
    position: relative;
  }
  ul li p {
    margin-bottom: 0;
  }
  ul li::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 4px;
    height: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #000;
  }
}

.text-WYSIWYG p + ul {
  margin-top: -20px;
}

blockquote {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: justify;
  color: #000;
  padding: 0 80px;
}

.loading {
  width: 100%;

  display: flex;
  justify-content: center;
}
.loading img {
  width: 20px;
  height: 20px;
}
