// colors

// Colors
$dark-blue: #032169;
$light-blue: #0e7bcd;
$dark-grey: #bfbfc1;
$light-grey: #e6e6e6;

//fonts
$font-family-base: "Inter";
$font-family-heading: "Georgia", serif;
$font-family-mono: "SFMono-Regular";

$font-family: "Noto Sans Hebrew";
$second-family: "Open Sans Hebrew", sans-serif;

// ==============================================
// Breakpoints
// ==============================================

$breakpoint-xs: 414px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
